/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */
#background {
    -fx-background-color: red;
}

#headerLabel {
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#vistaHolder {
    -fx-background-color: white;
}

#vista1 {
    -fx-background-color: aliceblue;
}

#vista2 {
    -fx-background-color: coral;
}

.button {
    -fx-base: lightgrey;
    -fx-font-size: 12px;
}