/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */
#background {
    -fx-background-color: red;
}

#headerLabel {
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#vistaHolder {
    -fx-background-color: white;
}

#vista1 {
    -fx-background-color: aliceblue;
}

#vista2 {
    -fx-background-color: coral;
}

.button {
    -fx-base: lightgrey;
    -fx-font-size: 12px;
}

.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.tree-cell {
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
    -fx-wrap-text: true;
}

.check-box {
    -fx-min-width:  12px;
    -fx-min-height: 12px;
    -fx-max-width:  12px;
    -fx-max-height: 12px;
}

.tree-cell .text {
    -fx-wrap-text: true;
}
.hbox{
-fx-border-color: black;
    -fx-border-width: 1px;
}